* {
  margin: 0;
}

a {
  color: #0d93f2;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body, input, select, option {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1d1d20;
  color: #ffffffde;
  /* background-image: url('https://www.transparenttextures.com/patterns/always-grey.png'); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgAgMAAADm7QMnAAAADFBMVEV3d3dOTk5OTk5OTk60BIz+AAAABHRSTlP/bytS3QghxwAAAEhJREFUeAFjZA1gQAevGVc5XPjy9z8K8Ytowd/YBf8zYIB/xGsfyhaNWjRq0ahFoxaNWkS4QhmtjwaDRaMWjVo0atGoRaP1EQDs2xO3GiLLhAAAAABJRU5ErkJggg=='); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #27272b;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  border-bottom: 1px solid #3e3e3e;
}

#footer {
  background-color: #111;
  border-top: 1px solid #3e3e3e;
}

.navcont, .foocont {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  padding: 0.5em 0;
  justify-content: space-between;
}

.foocont {
  justify-content: center;
  padding: 2.5em 0;
  color: gray;
}

#logo {
  border-right: 1px solid #3e3e3e;
  padding: 0 1em;
  margin-right: 1em;
  height: inherit;
  display: flex;
  align-content: center;
}

#logo a {
  align-self: center;
  height: inherit;
  font-size: 1.17em;
  font-weight: bold;
  color: white;
}

#logo a i, .conversion-result strong {
  color: lime;
}

#logo a {
  color: lightgray;
}

.nav {
  align-self: center;
}

.nav a {
  padding: 0.5em 1em;
  color: gray;
  transition: 0.1s ease;
  border-bottom: 2px solid darkgray;
}

.nav a:hover {
  color: white;
  transition: 0.1s ease;
}

.nav a.active {
  color: white;
  border-bottom: 2px solid;
}

.container {
  margin: 0 auto;
  padding: 1.5em 0;
  /* background-color: #27272b; */
  max-width: 1360px;
  border-radius: 5px;
  overflow: auto;
}

.coin-table {
  width: 100%;
  border: 1px solid #3e3e3e;
  border-radius: 15px;
  overflow: hidden;
  background-color: #27272b;
  border-spacing: 0;
}

.coin-table tbody td {
  cursor: pointer;
  border-bottom: 1px solid #3e3e3e;
}

.coin-table thead {
  font-weight: bold;
  text-align: center;
}

.coin-table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.2);
}

.coin-load {
  height: 100px;
}

.coin-table td {
  padding: 0.75em;
}


.green {
  color: #18c683;
}

.green::before {
  content: "+";
}

.red {
  color: #fb4437;
}

.text-gray {
  color: gray
}

.asset-icon {
  vertical-align: middle;
  width: 40px;
  margin-right: 1em;
  float: left;
}

.searchbar {
  background-color: #232326;
  border: 1px solid #3e3e3e;
  width: 50%;
  color: lightgray;
  border-radius: 5px;
  padding: 0.75em;
}

.set-amount {
  background-color: #232326;
  border: 1px solid #3e3e3e;
  width: 50%;
  color: lightgray;
  border-radius: 5px;
  padding: 0.75em;
  margin: 1em 0;
  font-size: 1em;
}

.searchbar:focus-visible, .set-amount:focus-visible {
  outline: 1px solid lime;
}

.center {
  text-align: center;
}

.boxed {
  line-height: 2em;
}

#about, #converter, .feed-list {
  background-color: #27272b;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #3e3e3e;
  line-height: 2em;
}

.feed-list {
  line-height: 1.2em;
  padding: 0.5em;
  min-height: 100px;
  /* overflow: scroll; */
}

#converter {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

hr {
  border-width: 0 0 1px 0;
  margin: 0.5em 0;
  border-color: #3e3e3e;
}

h1 {
  color: lightgray;
}

select {
  border: 1px solid #3e3e3e;
  background-color: #27272b;
  padding: 0.75em;
  color: lightgray;
  margin: 2em;
  cursor: pointer;
}

.App {
  min-height: 100vh;
  padding-bottom: 9em;
  position: relative;
}

.pages {
  /* padding-bottom: 7em; */
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

hr {
  margin-bottom: 2em;
}

.feed-row {
  display: flex;
  border-bottom: 1px solid #3e3e3e;
  padding: 0.5em;
  border-left: 2px solid transparent;
}

.feed-row.new {
  border-left: 2px solid orange;
}

.feed-datetime {
  margin: 0 1em;
  align-self: center;
  font-size: 11px;
  min-width: 85px;
  color: gray;
}

.feed-title-kind, .badge {
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 5px;
}

.badge {
  background-color: slateblue;
  padding: 0 .5em;
}

.feed-title a span {
  color: lightgray;
}

.feed-title a span:hover {
  color: darkgray;
}

.feed-row:hover {
  background: rgba(0, 0, 0, 0.2);
}

#news {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 3fr;
}

#news h4 {
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 1000px) {
  #news, .dashboard {
    grid-template-columns: 1fr !important;
  }

  .landing {
    min-height: 100vh;
  }
}

button {
  cursor: pointer;
}

#news button, button {
  border: 1px solid #3e3e3e;
  background-color: #1d1d20;
  color: darkgray;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.25em 0.25em 0.25em 0;
  transition: 0.1s ease;
}

button:hover, #news button:hover, #news button.active {
  color: lime;
  border-color: #058605;
  background-color: #164016;
  transition: 0.1s ease;
}

#news button:disabled, #news button[disabled] {
  background-color: #27272b;
  color: gray;
}

#news button:disabled:hover, #news button[disabled]:hover {
  background-color: #27272b;
  color: gray;
  border-color: #3e3e3e;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.dash-chart .loading {
  font-size: 3rem;
  color: gray;
}

#news .button {
  padding: 0.5em 2em;
  font-weight: bold;
  width: 100%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 5fr;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  background-color: #27272b;
}

.dash-details, .dash-chart {
  padding: 1em;
  font-size: 1.1rem;
}

.dash-chart-container {
  height: 100%;
}

.breadcrum {
  padding: .5em;
  color: gray;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #3e3e3e; */
  margin-bottom: 1em;
  align-items: center;
}

.breadcrum-nav {
  text-align: right;
}

.dash-chart {
  border-left: 1px solid #3e3e3e;
}

.dash-details>div {
  padding: .5em;
  line-height: 1.5em;
}

.dash-details-price {
  text-align: left;
  margin: 2em 0;
}

.dash-details-price span {
  font-size: 2em;
  font-weight: bold;
  /* color: gray; */
}

.dash-details-head {
  display: flex;
  align-items: center;
  /* color: gray; */
}

.dash-details-head img {
  margin-right: 1em;
}

.dash-details-vol>div {
  display: flex;
  justify-content: space-between;
}

.landing {
  height: 250px;
  background-attachment: fixed;
/* background: linear-gradient(0deg, rgb(255, 48, 0) 0%, rgba(255, 12, 0, 0.4) 40%, rgba(0, 0, 0, 0) 70%); */
  background: linear-gradient(0deg, slateblue 0, rgba(0, 0, 0, 0) 70%)
  /* , url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgAgMAAADm7QMnAAAADFBMVEV3d3dOTk5OTk5OTk60BIz+AAAABHRSTlP/bytS3QghxwAAAEhJREFUeAFjZA1gQAevGVc5XPjy9z8K8Ytowd/YBf8zYIB/xGsfyhaNWjRq0ahFoxaNWkS4QhmtjwaDRaMWjVo0atGoRaP1EQDs2xO3GiLLhAAAAABJRU5ErkJggg==); */
  /* background: linear-gradient(0deg, rgba(0,255,0,1) 0%, rgba(0,255,0,0.4) 40%, rgba(0,0,0,0) 70%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgAgMAAADm7QMnAAAADFBMVEV3d3dOTk5OTk5OTk60BIz+AAAABHRSTlP/bytS3QghxwAAAEhJREFUeAFjZA1gQAevGVc5XPjy9z8K8Ytowd/YBf8zYIB/xGsfyhaNWjRq0ahFoxaNWkS4QhmtjwaDRaMWjVo0atGoRaP1EQDs2xO3GiLLhAAAAABJRU5ErkJggg==); */
  /* background: linear-gradient(0deg, rgba(0, 255, 0, .7) 15%, rgba(0, 255, 0, 0.2) 60%, rgba(0, 0, 0, .2) 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgAgMAAADm7QMnAAAADFBMVEV3d3dOTk5OTk5OTk60BIz+AAAABHRSTlP/bytS3QghxwAAAEhJREFUeAFjZA1gQAevGVc5XPjy9z8K8Ytowd/YBf8zYIB/xGsfyhaNWjRq0ahFoxaNWkS4QhmtjwaDRaMWjVo0atGoRaP1EQDs2xO3GiLLhAAAAABJRU5ErkJggg==) */
}

.landing>.container {
  margin: 0 auto;
  padding: 1em;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.landing h1 {
  font-size: 50px;
  text-shadow: 0 0 15px rgba(255, 255, 255, .5);
}

/* .landbox {
  background-color: #27272b;
  padding: 1em;
  margin: 1em;
} */

/* .sections {
  background-color: ;
  min-height: 60vh;
  box-shadow: 0 0 100px 30px tomato;
} */